
        
<div class="container-fluid my-3" style="background-image: url('./assets/img8.jpg');">
    <div class="row mx-3 my-5">
            <div class="card-deck my-auto mx-auto">
                <div class="card btn"  onclick="location.href='home'">
                  <img class="card-img-top" src="./assets/img10.jpg" alt="Card image cap">
                  <div class="card-body">
                  <p class="card-text"><small class="text-muted">Welcome to our website. Learn and Grow</small></p>
                  </div>
                </div>
                <div class="card btn" onclick="location.href='page'">
                  <img class="card-img-top" src="./assets/img11.jpg" alt="Card image cap">
                  <div class="card-body">                    
                    <p class="card-text"><small class="text-muted">Login to know more.</small></p>
                  </div>
                </div>
                <div class="card btn" onClick="location.href='contactus'">
                  <img class="card-img-top" src="./assets/img11.jpg" alt="Card image cap">
                  <div class="card-body">
                   <p class="card-text"><small class="text-muted">Contact Us</small></p>
                  </div>
                </div>
              </div>
            </div>
    </div>