
        
<div class="container-fluid p-3 mx-auto">
    <div class="row mx-3 my-3">
            <div class="card-deck my-auto mx-auto">
                <div class="card btn" onclick="location.href='page'">
                  <img class="card-img-top" src="./assets/img10.jpg" alt="Card image cap">
                  <div class="card-body">
                  <p class="card-text text-bold">Welcome to our website. We have been hard at work redesigning and updating our website over the last few months and are excited to share it with you! Learn and Grow. </p>
                  </div>
                </div>
                <div class="card btn" onclick="location.href='page'">
                  <img class="card-img-top" src="./assets/img11.jpg" alt="Card image cap">
                  <div class="card-body">                    
                    <p class="card-text text-bold">Know more about our business model to understand why your trust is so important for us. </p>
                  </div>
                </div>
                <div class="card btn" onClick="location.href='contactus'">
                  <img class="card-img-top" src="./assets/img14.jpg" alt="Card image cap">
                  <div class="card-body">
                   <p class="card-text text-bold">Do you have other questions? Our customer service team is here to help. Contact us here.</p>
                  </div>
                </div>
              </div>
            </div>
    </div>