
        
<div class="container-fluid p-3 mx-auto">
    <div class="row mx-3 my-3">
            <div class="card-deck my-auto mx-auto">
                <div class="card btn" onclick="location.href='page'">
                  <img class="card-img-top" src="./assets/img10.jpg" alt="Card image cap">
                  <div class="card-body">
                  <p class="card-text text-bold">Welcome to our website. Learn and Grow. </p>
                  </div>
                </div>
                <div class="card btn" onclick="location.href='page'">
                  <img class="card-img-top" src="./assets/img11.jpg" alt="Card image cap">
                  <div class="card-body">                    
                    <p class="card-text text-bold">Know more about us</p>
                  </div>
                </div>
                <div class="card btn" onClick="location.href='page'">
                  <img class="card-img-top" src="./assets/img14.jpg" alt="Card image cap">
                  <div class="card-body">
                   <p class="card-text text-bold">Click here to know about out website.</p>
                  </div>
                </div>
              </div>
            </div>
    </div>