<div class="container-fluid">
  <h2 class="text-center mt-5 mb-3 bg-light" style="font-family:Verdana, Geneva, Tahoma, sans-serif"> USER</h2>
  <hr>

  <div class="row mx-auto">

   <div class="card mt-5 mb-5 mx-auto" style="width: 18rem;">
    <img src="./assets/img6.jpg" class="card-img-top border p-3" alt="ipo">
      <div class="card-body text-center"> 
        <div class="row h-100">  
       <a routerLink= "compare" class="btn btn-secondary btn-block mt-auto align-self-end" (click)="navigateTo()">COMPARE COMPANY</a>
        </div>
      </div>
  </div>


<!-- <div class="card mx-auto mt-5 mb-5" style="width:18rem;">
  <img src="./assets/img7.jpg" class="card-img-top border p-3" alt="user">
   <div class="card-body text-center"> 
     <div class="row h-100">    
     <a routerLink="comparesec" class="btn btn-secondary btn-block mt-auto align-self-end" (click)="moveTo()">COMPARE SECTOR</a>
     </div>
   </div>
</div> -->

<div class="card mx-auto mt-5 mb-5" style="width:18rem;">
  <img src="./assets/img13.jpg" class="card-img-top border p-3" alt="stock">
   <div class="card-body text-center"> 
     <div class="row h-100">    
     <a routerLink="userprofile" class="btn btn-secondary btn-block mt-auto align-self-end" (click)="goTo()">USER PROFILE</a>
     </div>
   </div>
</div> 

<div class="card mx-auto mt-5 mb-5" style="width:18rem;">
  <img src="./assets/clist.jpg" class="card-img-top border p-3" alt="companieslist">
   <div class="card-body text-center"> 
     <div class="row h-100">    
     <a routerLink="companieslist" class="btn btn-secondary btn-block mt-auto align-self-end" (click)="navigate()">COMPANIES LIST</a>
     </div>
   </div>
</div> 

<div class="card mx-auto mt-5 mb-5" style="width:18rem;">
  <img src="./assets/iposlist.jpg" class="card-img-top border p-3" alt="stock">
   <div class="card-body text-center"> 
     <div class="row h-100">    
     <a routerLink="iposlist" class="btn btn-secondary btn-block mt-auto align-self-end" (click)="navigateNow()">IPO LIST</a>
     </div>
   </div>
</div> 
</div>
</div>

