<div class="container-fluid" style="background-color: aliceblue;">
  <h1 class="text-center mt-5 mb-3" style="font-family:Verdana, Geneva, Tahoma, sans-serif"> USER</h1>
  <hr>

  <div class="row mx-auto">


   <div class="card mt-5 mb-5 mx-auto" style="width: 18rem;">
    <img src="./assets/img6.jpg" class="card-img-top border p-3" alt="ipo">
      <div class="card-body text-center"> 
        <div class="row h-100">  
       <a href= "compare" class="btn btn-primary btn-block mt-auto align-self-end">COMPARE COMPANY</a>
        </div>
      </div>
  </div>


<div class="card mx-auto mt-5 mb-5" style="width:18rem;">
  <img src="./assets/img7.jpg" class="card-img-top p-3" alt="stock">
   <div class="card-body text-center"> 
     <div class="row h-100">    
     <a href="compare-sec" class="btn btn-primary btn-block mt-auto align-self-end">COMPARE SECTOR</a>
     </div>
   </div>
</div>
</div>
</div>

