

  
h1{

  text-align:center;

 }



  .footer {

  position: fixed;

  left: 0;

  bottom: 0;

  width: 100%;

  color: white;

  text-align: center;

 }

 .card{

  transition: transform 1s ease-in-out;

 }



 .card:hover{

  transform: scale(1.05);

 }