h1 
{
     text-align: center;
     margin-top: 50px;
     padding: 3;
     width: 100%;
   }
   
.nav-link 
{ 
color: white;
}
.navbar{
  width: 100%;
}

.navbar a:hover {
  background-color: #000;
}

.footer
{
  position: relative;
   left: 0;
   bottom: 0;
   width: 100%;   
   margin-top: 20px;
   
}




a:hover, .media a:focus
{
  text-decoration: none !important;
  outline: none;
  color: blue
}
