<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

</head>
<div class="container-fluid">
  <div>
    <h1
      style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;color:black;opacity: 1.0; background-color: aliceblue;">
      STOCK MARKET CHARTING </h1>
    <hr>
  </div>

  <nav class="navbar navbar-expand bg-dark">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item mr-auto">
        <a class="nav-link" routerLink="home"><i class="fa fa-home"></i> HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="admin"><i class="fa fa-group-alt"></i>ADMIN</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="userLand"><i class="fa fa-group-alt"></i> USER</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="login"><i class="fa fa-sign-in-alt"></i>LOGIN</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="register"><i class="fa fa-pencil-alt"></i>REGISTER</a>
      </li>
    </ul>

  </nav>
</div>

<router-outlet></router-outlet>


<div class="footer">
  <p> @CopyRightsReserved If you have any queries please feel free to contact us</p>
</div>