<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">  
 </head>
 
 <div class="container-fluid mb-3"> 
  <div> 
   <h1 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;color:black;opacity: 1.0; background-color: aliceblue;"><i class="fa fa-globe"></i>STOCK MARKET CHARTING </h1>
 <hr> 
  </div> 
 
  <nav class="navbar navbar-expand-md navbar-dark bg-dark"> 
   <a class="navbar-brand"></a> 
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar"> 
    <span class="navbar-toggler-icon"></span> 
   </button> 
   <div class="collapse navbar-collapse" id="collapsibleNavbar"> 
   <ul class="navbar-nav ml-auto">
      
    <li class="nav-item mr-auto"> 
     <a class="nav-link" routerLink="home"><i class="fa fa-home"></i> HOME</a> 
    </li> 
     
    <li class="nav-item"> 
     <a class="nav-link" routerLink="login"><i class="fa fa-sign-in-alt"></i>LOGIN</a> 
    </li>
 
    <li class="nav-item"> 
     <a class="nav-link" routerLink="register"><i class="fa fa-pencil-alt"></i>REGISTER</a> 
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="logout"><i class="fa fa-sign-out-alt"></i>LOGOUT</a>
    </li>

    </ul>
    </div>
   </nav>
 </div>
 

<router-outlet></router-outlet>

<footer class="footer bg-dark d-inline-block">
   <div class="row">
    <div class="col-md-5">
      <div class="row">
        <div class="col-sm-5">
          <a class="bg-circle bg-info mx-3" href="#">
            <i class="fa fa-2x fa-fw fa-address-card"></i>
          </a>        
        <div class="col-sm-7 text-white mx-auto">
            <h4>Contact</h4>
        </div>     
    </div>
    </div>
    </div>
      <div class="col-md-7">
      <div class="d-inline-block p-3 ">

        <div class="bg-circle-outline d-inline-block">
          <a href="https://www.facebook.com/" class="text-white">
            <i class="fab fa-2x fa-fw fa-facebook"></i></a>
        </div>

        <div class="bg-circle-outline d-inline-block">
          <a href="https://twitter.com/" class="text-white">
            <i class="fab fa-2x fa-fw fa-twitter"></i></a>
        </div>

        <div class="bg-circle-outline d-inline-block">
          <a href="https://www.linkedin.com/company/" class="text-white">
            <i class="fab fa-2x fa-fw fa-linkedin"></i></a>
        </div>

      </div>
    </div>
    </div>
    </footer>


       