<div class="container contact-pg">
    <div class="row">
        <div class="col-md-3 contact d-none d-md-block">
            <div class="">
                <h4 class= "text-bold"> Hope you had a great experience!</h4>
                <p>Please feel free to contact us anytime!</p>
            </div>
        </div>
        <div class="col-md-8">
            <div class="contact-form">

                <div class="form-group">
                    <label for="firstname" class="form-label"><b>First Name</b></label>
                    <input type="text" class="form-control" id="firstname" placeholder="Enter your first name"
                        name="firstname" >
                </div>


                <div class="form-group">
                    <label for="lastname" class="form-label"><b>Last Name</b></label>
                    <input type="text" class="form-control" id="lastname" placeholder="Enter your last name"
                        name="lastname">
                </div>


                <div class="form-group">
                    <label for="email" class="form-label"><b>Email</b></label>
                    <input type="text" class="form-control" id="email" placeholder="Email Address" name="email">
                </div>


                <div class="form-group">
                    <label for="message" class="form-label"><b>Message</b></label>
                    <textarea class="form-control" id="message" placeholder="We would love to hear your feedback!"
                        name="message"></textarea>
                </div>
                <button type="button" class="btn btn-primary btn-block">Submit</button>
            </div>
        </div>

    </div>
</div>