<div class="container-fluid" style="background-color:aliceblue;">
  <h2 class="text-center mt-5 mb-3" style="font-family:Verdana, Geneva, Tahoma, sans-serif"> ADMIN</h2>
  <hr>
  <div class="row mx-auto">

    <div class="card mt-5 mb-5 mx-auto" style="width: 18rem;">
      <img src="./assets/img2.jpg" class="img-fluid card-img-top border p-3" alt="ipo">
      <div class="card-body text-center">
        <div class="row h-100">
          <a href="ipo" class="btn btn-primary btn-block mt-auto align-self-end">IPO </a>
        </div>
      </div>
    </div>


    <div class="card mx-auto mt-5 mb-5" style="width:18rem;">
      <img src="./assets/img3.jpg" class="img-fluid card-img-top border p-3" alt="stock">
      <div class="card-body text-center">
        <div class="row h-80">
        <a href="stockexchange" class="btn btn-primary btn-block mt-auto align-self-end">Stock</a>
      </div>
    </div>
    </div>

    <div class="card mx-auto mt-5 mb-5" style="width:18rem;">
      <img src="/assets/img4.jpg" class="img-fluid card-img-top border p-3" alt="import">
      <div class="card-body text-center">
        <div class="row h-100">
        <a href="importdata" class="btn btn-primary btn-block mt-auto align-self-end">Import Data</a>
        </div>
      </div>
    </div>

    <div class="card mx-auto mt-5 mb-5" style="width:18rem;">
      <img src="/assets/img5.jpg" class="img-fluid card-img-top border p-3" alt="company">
      <div class="card-body text-center">
        <div class="row h-100">
        <a href="companydetails" class="btn btn-primary btn-block mt-auto align-self-end">Company Details</a>
       </div>
     </div>
    </div>

  </div>
</div>
<hr>