

<body>  
  <div class="container-fluid">
  <h2 class="text-center mt-5 mb-3 bg-light" style="font-family:Verdana, Geneva, Tahoma, sans-serif"> ADMIN</h2>
  <hr>
  <div class="row mx-auto">
     
  
    <div class="card mt-5 mb-5 mx-auto" style="width: 18rem;">
      <img src="./assets/img2.jpg" class="img-fluid card-img-top border p-3" alt="ipo">
      <div class="card-body text-center">
        <div class="row h-100">
          <a routerLink="/ipo" class="btn btn-secondary btn-block mt-auto align-self-end" (click)="moveto()">IPO </a>
        </div>
      </div>
    </div>


    <div class="card mx-auto mt-5 mb-5" style="width:18rem;">
      <img src="./assets/img3.jpg" class="img-fluid card-img-top border p-3" alt="stock">
      <div class="card-body text-center">
        <div class="row h-80">
        <a routerLink="/stockexchange" class="btn btn-secondary btn-block mt-auto align-self-end" (click)="navigateTo()">Stock</a>
      </div>
    </div>
    </div>

    <div class="card mx-auto mt-5 mb-5" style="width:18rem;">
      <img src="/assets/img4.jpg" class="img-fluid card-img-top border p-3" alt="import">
      <div class="card-body text-center">
        <div class="row h-100">
        <a routerLink="importdata" class="btn btn-secondary btn-block mt-auto align-self-end" (click)="navigateto()">Import Data</a>
        </div>
      </div>
    </div>

    <div class="card mx-auto mt-5 mb-5" style="width:18rem;">
      <img src="/assets/img5.jpg" class="img-fluid card-img-top border p-3" alt="company">
      <div class="card-body text-center">
        <div class="row h-100">
        <a routerLink="companydetails" class="btn btn-secondary btn-block mt-auto align-self-end" (click)="goto()">Company Details</a>
       </div>
     </div>
    </div>

    <div class="card mx-auto mt-5 mb-5" style="width:18rem;">
      <img src="/assets/img13.jpg" class="img-fluid card-img-top border p-3" alt="users">
      <div class="card-body text-center">
        <div class="row h-100">
        <a routerLink="users" class="btn btn-secondary btn-block mt-auto align-self-end" (click)="goTo()">Users List</a>
       </div>
     </div>
  </div>

  <div class="card mx-auto mt-5 mb-5" style="width:18rem;">
    <img src="./assets/clist.jpg" class="card-img-top border p-3" alt="stock">
     <div class="card-body text-center"> 
       <div class="row h-100">    
       <a routerLink="companies" class="btn btn-secondary btn-block mt-auto align-self-end" (click)="navigate()">COMPANIES LIST</a>
       </div>
     </div>
  </div> 
  
  <div class="card mx-auto mt-5 mb-5" style="width:18rem;">
    <img src="./assets/iposlist.jpg" class="card-img-top border p-3" alt="stock">
     <div class="card-body text-center"> 
       <div class="row h-100">    
       <a routerLink="ipos" class="btn btn-secondary btn-block mt-auto align-self-end" (click)="navigateNow()">IPO LIST</a>
       </div>
     </div>
  </div> 
  
  
</div>
</div>


</body>