<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
</head>
    
  <div class="container mt-5">
      <div class="row">
          <div class="col-3"></div>
          <div class="col-6">
                       
              <hr>
<form [formGroup]= "excelUploadForm" (ngSubmit)= "uploadData()" novalidate class="form-group border p-3 border-curved mt-5" >
<div class="card shadow text-dark bg-light mb-4">
    <p class="h4 card-header text-center">Import Excel Sheet</p>
    <div class="card-body bg-light">
  
        <p class="card-text shadow">Select the file to be uploaded </p>
        <div class="input-group mb-3 mt-3">
            <div class="custom-file">
                

                <input type="file" class="custom-file-input" id="excelFileUpload" formControlName="excelFileUpload" name="excelFileUpload" (change)="onFileChange($event)">
                <label class="custom-file-label" for="inputGroupFile">Choose file </label>
            </div>
            <div class="input-group-append">
                <span class="input-group-text btn-success" id="inputGroupFileAddon" type="button">Upload</span>
            </div>
        </div>
    </div>
</div>
</form>
</div>
</div>
  </div>


        