
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
</head>
  



<div class="container mt-5" style="background: transparent;">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
          <form [formGroup]="addstockExchange" novalidate class="form-group border p-5 border-curved mt-5">
            <div class="container" style="background-image: url('./assets/img8.jpg');">
            <p class="h2 text-uppercase text-center mb-4">Stock Exchange Details</p>

            <label for="id"> <b>ID</b></label>
            <input type="number" class="form-control" placeholder="Enter ID" formControlName="id" name="id" id="id">

            <label for="choosestock"><b>Select Stock Exchange</b></label>
            <select class="form-control" id="choosestock" name="choosesector" formControlName="choosestock">
                <option>BSE</option>
                <option>NSE</option>
              
            </select>           
                         
         
              <label for="brief"><b>Brief</b></label>
              <textarea class="form-control mb-4" name="brief" id="brief" cols="30" rows="3" placeholder="Enter Brief about Stock"
              formControlName="brief" name="brief" id="brief"></textarea>

            <label for="address"><b>Address</b></label>
            <textarea class="form-control mb-4" name="address" id="address" cols="30" rows="3" placeholder="Enter Address"
              formControlName="address" name="address" id="address"></textarea>

            
                  
            <button class="btn btn-success text-dark text-center form-control" (click)="addStockExchange()" [disabled]="!addstockExchange">Add Stock Exchange</button>
            </div>
          </form>
        </div>
    </div>
</div>