<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
</head>
  
<div class="container mt-5" style="background:transparent">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
          <form [formGroup]="addipo" novalidate class="form-group border p-5 border-curved mt-5" >
            <div class="container" style="background-image: url('./assets/img8.jpg');">
            <p class="h2  text-uppercase text-center mb-4">Initial Public Offering</p>
            <hr>

            <label for="id"> Company ID</label>
            <input type="number" class="form-control" placeholder="Enter Company ID" formControlName="id" name="id" id="id">
         
            <label for="companyname">Company Name</label>
            <input type="text" class="form-control" placeholder="Enter Company" formControlName="companyname" name="companyname" id="companyname">

            <label for="stockexchange">Stock Exchange</label>
            <input type="text" class="form-control" placeholder="Stock Exchange" formControlName="stockexchange" name="stockexchange" id="stockexchange">

            <label for="price">Price </label>
            <input type="number" class="form-control" placeholder="Price in Rupees" formControlName="price" name="price" id="price">

            <label for="shares">Number of Shares</label>
            <input type="number" class="form-control" placeholder="Total Number of Shares" formControlName="totalnoofshares" name="totalnoofshares" id="totalnoofshares">

          
             <label for="Opendatetime">Open Date Time</label><br>
             <input class="form-control" placeholder="Date and Time "type="datetime-local" name="opendatetime" id="opendatetime" formControlName="opendatetime">
             
            
            <label for="remarks">Remarks</label>
            <textarea class="form-control mb-4" name="remarks" id="remarks" cols="30" rows="3" placeholder="Remarks about this IPO"
            formControlName="remarks" name="remarks" id="remarks"></textarea>
            
            <button class="btn btn-success text-dark text-center form-control" (click)="addIPO()" [disabled]="!addipo.valid">Add IPO</button>
            </div>
          </form>
        </div>
    </div>
</div>