
 <section>
    <div class="container" style="background-color: whitesmoke;" >
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <h5 class=" text-center text-bold text-uppercase">About our website</h5>
            <p> Website stories are not just for tech start-ups. Every business, no matter how big or small, needs to tell a story.We research and analyse various sectors within the stock markets e.g. IT, Pharma, FMCG etc</p>
          </div>          
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="./assets/img17.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
  <hr>
  <section>
    <div class="container" style="background-color:whitesmoke;">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="./assets/img1.jpg" alt="">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
            <h5 class="text-center text-bold text-uppercase">STOCK MARKET</h5>
            <p>The stock market works through a network of exchanges — you may have heard of the New York Stock Exchange or the Nasdaq. Companies list shares of their stock on an exchange through a process called an initial public offering, or IPO. Investors purchase those shares, which allows the company to raise money to grow its business. Investors can then buy and sell these stocks among themselves, and the exchange tracks the supply and demand of each listed stock.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

 <hr>

  <section>
    <div class="container" style="background-color: whitesmoke;" >
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <h5 class=" text-center text-bold text-uppercase">Stock Exchange</h5>
            <p>A stock exchange is where pieces of ownership in businesses are bought and sold among investors.Companies may use an exchange to raise capital in the secondary market through an IPO.</p>
          </div>          
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="./assets/img18.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
 <hr>
