
 <section>
    <div class="container" style="background-color: whitesmoke;" >
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <h5 class=" text-center text-bold text-uppercase">About our website</h5>
            <p> Website stories are not just for tech start-ups. Every business, no matter how big or small, needs to tell a story.We research and analyse various sectors within the stock markets e.g. IT, Pharma, FMCG etc</p>
          </div>          
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="./assets/img17.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="./assets/img2.jpg" alt="">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
            <h2 class="display-4">What is an Ipo</h2>
            <p>Initial public offering or stock market launch is a type of public offering in which shares of a company are sold to institutional investors and usually also retail investors.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

    <div class="row mx-6 mt-4 mb-4">
        <div class="col-3 mx-auto">
            <div class="card btn"  onclick="location.href='admin'">
                <img class="card-img-top" src="./assets/img12.jpg" alt="ADMIN">
                <div class="card-body">
                <p class="card-text"></p>
                    <h5 class="text-bold">ADMIN</h5>
            </div>
        </div>
        </div> 
    
         
        <div class="col-3 mx-auto">
        <div class="card btn" onclick="location.href='user'">
            <img class="card-img-top" src="./assets/img12.jpg" alt="USER">
                    <div class="card-body">
                        <p class="card-text"></p>
                           <h5 class="text-bold">USER</h5>
                    </div>
        </div>
        </div>
    </div>


