<div class="container-fluid" style="background-color: aliceblue;">
    <div class="row mx-6 mt-4 mb-4">
        <div class="col-3 mx-auto">
            <div class="card btn"  onclick="location.href='admin'">
                <img class="card-img-top" src="./assets/img12.jpg" alt="ADMIN">
                <div class="card-body">
                <p class="card-text"></p>
                    <h5 class="text-bold">ADMIN</h5>
            </div>
        </div>
        </div> 
    
         
        <div class="col-3 mx-auto">
        <div class="card btn" onclick="location.href='user'">
            <img class="card-img-top" src="./assets/img12.jpg" alt="USER">
                    <div class="card-body">
                        <p class="card-text"></p>
                           <h5 class="text-bold">USER</h5>
                    </div>
        </div>
        </div>
    </div>

    </div>

